<div class="message">
  <div class="alert alert-success">
    Bem vindo(a) ao Sistema.<br/>
  </div>
  <li><%= link_to(' Sair', destroy_user_session_path, :method => :delete, :class => 'fa fa-user') %></li>
</div>


